body{margin-bottom: 40px;
     
     }

a {margin:20px 30px;
   font-size: 18px;
   font-family: "Work Sans";
   background-color: rgba(128,128,128,0.4);
   border-radius: 5px;
   color:white;
   padding: 5px 10px;
   line-height: 50px;
   white-space: nowrap;

}


.ejercicios{text-align: center;
font-family: "Work Sans";
}

.columna{
         margin:10px;
         
         
         }

@media (max-width:799px){ 
   .links{display: flex;
          flex-direction: column;
          align-items: center;
          }
   .links a{ padding: 0px 10px;
            margin:10px 0px; 

         }
   a{white-space: inherit;}
}
@media (max-width:599px){ 
   .links{display: flex;
          flex-direction: column;
          align-items: center;
          }
   .links a{ padding: 0px 10px;
            margin:10px 0px; 

         }
   a{white-space: inherit;}

}
@media (max-width:479px){ 
   .links{display: flex;
          flex-direction: column;
          align-items: center;
          }
   .links a{ padding: 0px 10px;
            margin:10px 0px; 

         }
   a{white-space: inherit;}

}
        




